
@import url('https://fonts.googleapis.com/css2? family= Roboto:wght@100 & display=swap');
body{
    font-family: 'Roboto', sans-serif;
}

.logo {
    width: 350px;
}

.encabezado {
    border-top: 15px solid black;
    background-color: rgb(241, 187, 239);
}

.menuNav a {
    font-size: 1.5rem;
    border-left: 1px solid black;
    padding: 0;
}
.menuNav a:hover{
    background-color: #a54c92;
    color: black;
}

h1, .h1 {
    font-size: calc(1.375rem + 1.5vw);
  }
  @media (min-width: 1200px) {
    h1, .h1 {
      font-size: 2.5rem;
    }
  }
  
  h2, .h2 {
    font-size: calc(1.325rem + 0.9vw);
  }
  @media (min-width: 1200px) {
    h2, .h2 {
      font-size: 2rem;
    }
  }

  /* TOPE */
  .btn {
    box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
    padding: 1.25rem 2rem;
    font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 80%;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    border: 0;
  }
  
  .masthead {
    position: relative;
    width: 100%;
    height: 10%;
    min-height: 10rem;
    padding: 10rem 0;
    background: linear-gradient(to bottom, rgba(240, 233, 233, 0.3) 0%, rgba(67, 9, 75, 0.7) 30%, #000 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
  }
  .masthead h1, .masthead .h1 {
    font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 2.5rem;
    line-height: 2.5rem;
    letter-spacing: 0.8rem;
    background: linear-gradient(rgba(14, 1, 1, 0.9), rgba(255, 255, 255, 0));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
            background-clip: text;
  }
  .masthead h2, .masthead .h2 {
    max-width: 20rem;
    font-size: 1rem;
  }
  @media (min-width: 768px) {
    .masthead h1, .masthead .h1 {
      font-size: 4rem;
      line-height: 4rem;
    }
  }
  @media (min-width: 992px) {
    .masthead {
      height: 30vh;
      padding: 0;
    }
    .masthead h1, .masthead .h1 {
      font-size: 6.5rem;
      line-height: 6.5rem;
      letter-spacing: 0.8rem;
    }
    .masthead h2, .masthead .h2 {
      max-width: 30rem;
      font-size: 1.25rem;
    }
  }

  /* ROPA FEMENINA */
  .about-section {
    padding-top: 10rem;
    background: linear-gradient(to bottom, #000 0%, rgba(0, 0, 0, 0.9) 75%, rgba(0, 0, 0, 0.8) 100%);
  }
  .about-section p {
    margin-bottom: 5rem;
  }
 
  h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
  }
  /* BOTONES */
  .btnMisslovely {
    background-color: #a54c92;
    color: black;
  }
  .btnMisslovely:hover {
    background-color: #a54c92;
    color: #fafafa;
  }
  .card {
    padding: 3px;
    border-radius: 1px;
    border: solid black;
  }
  /* CONTACTO */

.formulario{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #0a0a0a;
}
.container {
    position: relative;
    width: 256px;
    height: 256px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.25rem 2rem;
}
.container span {
    position: absolute;
    left: 0;
    width: 32px;
    height: 6px;
    background: #080808;
    border-radius: 8px;
    transform-origin: 128px;
    transform: scale(2.2) rotate(calc(var(--i) * (360deg / 50)));
    animation: animateBlink 3s linear infinite;
    animation-delay: calc(var(--i) * (3s / 50));
}
h5 {
    font-size: 2em;
    color: #a54c92;
    text-align: center;
}
.input-box {
    position: relative;
    margin: 25px 0;
}
.input-box input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: 2px solid #81406e;
    outline: none;
    border-radius: 40px;
    font-size: 1em;
    color: #fff;
    padding: 0 20px;
    transition: .5s ease;
}
.input-box input:focus,
.input-box input:valid {
    border-color: rgb(242, 246, 247);
}
.input-box label {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #fff;
    pointer-events: none;
    transition: .5s ease;
}
.input-box input:focus~label,
.input-box input:valid~label {
    top: 1px;
    font-size: .8em;
    background: #050505;
    padding: 0 6px;
    color: #a54c92;
}
.forgot-pass {
    margin: -15px 0 10px;
    text-align: center;
}
.forgot-pass a {
    font-size: .85em;
    color: #fff;
    text-decoration: none;
}
.forgot-pass a:hover {
    text-decoration: underline;
}
.btnContacto,.btnLogin{
    width: 100%;
    height: 45px;
    background: #a54c92;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1em;
    color: #1f293a;
    font-weight: 600;
}
.signup-link {
    margin: 20px 0 10px;
    text-align: center;
}
.signup-link a {
    font-size: 1em;
    color: #a54c92;
    text-decoration: none;
    font-weight: 600;
}
.signup-link a:hover {
    text-decoration: underline;
}
.formulario{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    background: #000000;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Icono Wsp */
.whatsapp{
  width: 130px;
  position: fixed;
  bottom: 10px;
  right: 30px;
  z-index: 1;
}
@media only screen and (max-width: 600px){

.whatsapp {
  display: none;
}
}

/* informacion */
.info {
  position: relative;
  width: 100%;
  height: 10%;
  min-height: 10rem;
  padding: 10rem 0;
  background: linear-gradient(to bottom, rgba(240, 233, 233, 0.3) 0%, rgba(67, 9, 75, 0.7) 30%, #000 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}