/* TOPE */
.btn {
    box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
    padding: 1.25rem 2rem;
    font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 80%;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    border: 0;
  }
  
  .masthead {
    position: relative;
    width: 100%;
    height: 10%;
    min-height: 10rem;
    padding: 10rem 0;
    background: linear-gradient(to bottom, rgba(240, 233, 233, 0.3) 0%, rgba(67, 9, 75, 0.7) 30%, #000 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
  
    h1, .h1 {
      font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      font-size: 2.5rem;
      line-height: 2.5rem;
      letter-spacing: 0.8rem;
      background: linear-gradient(rgba(14, 1, 1, 0.9), rgba(255, 255, 255, 0));
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
    }
  
    h2, .h2 {
      max-width: 20rem;
      font-size: 1rem;
    }
  }
  
  @media (min-width: 768px) {
    .masthead {
      h1, .h1 {
        font-size: 4rem;
        line-height: 4rem;
      }
    }
  }
  
  @media (min-width: 992px) {
    .masthead {
      height: 30vh;
      padding: 0;
  
      h1, .h1 {
        font-size: 6.5rem;
        line-height: 6.5rem;
        letter-spacing: 0.8rem;
      }
  
      h2, .h2 {
        max-width: 30rem;
        font-size: 1.25rem;
      }
    }
  }
  